<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.GExeMapper">
    
    <resultMap type="GExe" id="GExeResult">
        <result property="groupId"    column="group_id"    />
        <result property="memberId"    column="member_id"    />
        <result property="memberPosition"    column="member_position"    />
        <result property="joinDate"    column="join_date"    />
        <result property="exeId"    column="exe_id"    />
    </resultMap>

    <sql id="selectGExeVo">
        select group_id, member_id, member_position, join_date, exe_id from g_exe
    </sql>

    <select id="selectGExeList" parameterType="GExe" resultMap="GExeResult">
        <include refid="selectGExeVo"/>
        <where>  
            <if test="memberId != null "> and member_id = #{memberId}</if>
            <if test="memberPosition != null "> and member_position = #{memberPosition}</if>
            <if test="joinDate != null  and joinDate != ''"> and join_date = #{joinDate}</if>
            <if test="exeId != null "> and exe_id = #{exeId}</if>
        </where>
    </select>
    
    <select id="selectGExeByGroupId" parameterType="Long" resultMap="GExeResult">
        <include refid="selectGExeVo"/>
        where group_id = #{groupId}
    </select>
        
    <insert id="insertGExe" parameterType="GExe" useGeneratedKeys="true" keyProperty="groupId">
        insert into g_exe
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="memberId != null">member_id,</if>
            <if test="memberPosition != null">member_position,</if>
            <if test="joinDate != null">join_date,</if>
            <if test="exeId != null">exe_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="memberId != null">#{memberId},</if>
            <if test="memberPosition != null">#{memberPosition},</if>
            <if test="joinDate != null">#{joinDate},</if>
            <if test="exeId != null">#{exeId},</if>
         </trim>
    </insert>

    <update id="updateGExe" parameterType="GExe">
        update g_exe
        <trim prefix="SET" suffixOverrides=",">
            <if test="memberId != null">member_id = #{memberId},</if>
            <if test="memberPosition != null">member_position = #{memberPosition},</if>
            <if test="joinDate != null">join_date = #{joinDate},</if>
            <if test="exeId != null">exe_id = #{exeId},</if>
        </trim>
        where group_id = #{groupId}
    </update>

    <delete id="deleteGExeByGroupId" parameterType="Long">
        delete from g_exe where group_id = #{groupId}
    </delete>

    <delete id="deleteGExeByGroupIds" parameterType="String">
        delete from g_exe where group_id in 
        <foreach item="groupId" collection="array" open="(" separator="," close=")">
            #{groupId}
        </foreach>
    </delete>
</mapper>